<mat-grid-list cols="3" rowHeight="2:3" gutterSize="40px">

 <!-- for every image -->
  @for (photo of photoArray; track photo.id) {
    <mat-grid-tile (click)="onPhotoClick(photo)">
      
        <mat-card class="photo-card" matRipple>

            <div class="photo-wrapper">
                <img
                    [src]="photo.url"
                    alt="Photo"
                    loading="lazy"
                />
            </div>

            @if (isFavorite(photo.id)) {
              <div class="fav-icon">
                <mat-icon>star</mat-icon>
              </div>
            }
          
          
          
      </mat-card>

    </mat-grid-tile>
  }

</mat-grid-list>
