mat-toolbar {

  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  justify-content: center;
  align-items: center;

  gap: 2rem;


  // header to remain visible
  position: fixed;
  top: 0;
  left: 0;
  right: 0;           // full width
  z-index: 1000;


  
}

button {
    font: var(--mat-sys-body-large);
}