mat-toolbar {

  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);

  justify-content: center;
  align-items: center;

  gap: 2rem;


  // header to remain visible
  position: sticky;
  top: 0;
  z-index: 1000;
}

button {
    font: var(--mat-sys-body-large);
}