.no-fav-container{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.no-fav-message {

    font-size: x-large;
    opacity: 0.5;
}