.content-wrapper {
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  box-sizing: border-box;
  gap: 1rem;
}

.single-photo-card {
  flex: 1;
  display: flex;
  min-width: calc(66vh - 64px);
  border-radius: var(--app-radius-medium);
  overflow: hidden;
}

.photo-img {
  height: 100%;            
  width: 100%;            
  object-fit: contain;
  display: block;
}


.button-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
